<div class="container">
    <h1 style="border-bottom: 1px solid black;">TASK LIST</h1>
    <div>
        <span class="status"><label>Status:</label></span>
        <span class="name"><label>Task Name:</label></span>
        <span class="dueDate"><label>DueDate:</label></span>
        <span class="assignedTo"><label>Assigned To:</label></span>
        <span class="controls"><label>Controls:</label></span>
    </div>

    <div class="task-row" *ngFor="let task of tasks">
        <div *ngIf="editableRow === task.id; then editableRowContent else viewRow"></div>        
        <ng-template #viewRow (click)="viewTask(task.id)">            
            <span class="completed" *ngIf="task.id">Complete</span>
            <span class="completed" *ngIf="!task.id">Incomplete</span>
            <span class="name">{{ task.name }}</span>
            <span class="dueDate">{{ task.dueDate }}</span>
            <span class="assignedTo">{{ task.assignedTo }}</span>  
            <div id="container">
                <button class="edit-task"  (click)="doEditTask(task.id)">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">Edit</span>
                </button>&nbsp;
            
                <button class="delete-task" (click)="doDeleteTask(task.id)">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">Delete</span>
                </button>
            </div>          

        </ng-template>
        <ng-template #editableRowContent>
        <form [formGroup]="newTaskForm" (ngSubmit)="doUpdateTask()">
            <div>
                <span class="name"><input type="text" formControlName="name" placeholder="{{task.name}}" class="text"></span>
                <span class="dueDate"><input type="text" formControlName="dueDate"  placeholder="{{task.dueDate}}" class="text"></span>
                <span class="assignedTo"><input type="text" formControlName="assignedTo"  placeholder="{{task.assignedTo}}" class="text"></span>
                <span class="completed"><input type="checkbox" [checked]="task.completed" id="complete" formControlName="completed" name="complete" class="checkbox"  />Completed ({{task.completed}})</span>
                <br />
                <textarea style="width: 617px; margin-top: 5px; margin-left: 20px;" formControlName="description" placeholder="{{task.description}}" ></textarea>
            </div>

            <div id="container">
                <button class="learn-more" (click)="doEditTask(task.id)">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">Update</span>
                </button>&nbsp;
            
                <button class="learn-more"  (click)="cancelEditTask()">
                  <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                  </span>
                  <span class="button-text">Cancel</span>
                </button>
            </div>          

        </form>
        </ng-template>                  
    </div>        
    <hr >
    <h2 style="margin: 20px auto 5px; text-align: center; ">Add New Task</h2>
    <div style="display: flex;">
        <form [formGroup]="newTaskForm" (ngSubmit)="doAddTask()" style=" margin: 0 auto; padding: 20px ; text-align: center; background-color: #e1e1e1; border-radius: 24px;">
            <div>                
                <span class="name"><input type="text" id="taskName" formControlName="name" name="name" placeholder="Task Name" class="text"></span>
                <span class="dueDate"><input type="text" id="dueDate" formControlName="dueDate" name="dueDate" placeholder="Due Date" class="text"></span>
                <span class="assignedTo"><input type="text" id="assignedTo" formControlName="assignedTo" name="dueDate" placeholder="Assigned To" class="text"></span>                
                <br />
                <textarea style="width: 617px; margin-top: 5px;"  formControlName="description"></textarea>
                
            </div>
            <div class="" style="text-align: center;margin-top:5%">
                <button class="icon-btn add-btn" type="submit">
                  <div class="add-icon"></div>
                  <div class="btn-txt">Add</div>
                </button>
            
                <button class="icon-btn add-btn" (click)="cancelEditNewTask()">  
                  <div class="btn-txt">Cancel</div>
                </button>
             </div>
        </form>
    </div>
</div>